.counterbg {
  background: url("/halfcar.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Use background-size instead of object-fit */
}
