.newnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.19);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    color: #ffffff;
    z-index: 1;
    position: absolute;
    width: 100%;
    font-weight: bold;
  }
  .navbar-brand img{
    width: 80px !important;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    margin: 0 1rem;
  }
  ul{
    margin: 0px;
  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-toggle-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    display: none; /* Hide toggle button by default */
  }


  .loginbtnnew {

    color: #ffffff;
    font-size: px;
    background: rgba(255, 255, 255, 0.19);
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(5.2px);
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 100;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .signbtnnew{

    color: #ffffff;
    font-size: px;
    background: rgba(255, 255, 255, 0.19);
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(5.2px);
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 100;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none; /* Hide menu by default on smaller screens */
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .navbar-toggle-btn {
      display: block; /* Show toggle button only on smaller screens */
    }
    .navbar-item a{
        align-items: start !important;
        color: rgb(255, 255, 255);
        
    }
    .navbar-item{
        padding: 10px 20px !important;
        margin: 0px;
    }
  
    .navbar-menu.active {
      display: flex; /* Show menu when active */
      align-items: flex-start;
      
    }
    .navbar-brand img{
        width: 60px !important;
      }
      .signbtnnew{

        color: #ffffff;
        font-size: px;
        background: none;
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        backdrop-filter: none;
        -webkit-backdrop-filter: blur(5.2px);
        color: #ffffff;
        padding: 10px 20px !important;
        text-decoration: none;
        font-weight: 100;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin: 0px !important;
      }

      .loginbtnnew {

        color: #ffffff;
        font-size: px;
        background: none;
        /* border-radius: 16px; */
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        color: #ffffff;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        font-weight: 100;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
  }
  