.cardLogo {
  position: absolute;
  margin-top: -120px;
  z-index: 1;
}
.bgprocessimg {
  background-image: url("/car vector.svg"), url("/123.svg"), url("/keys.svg");
  background-size: 340px, auto !important  ;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom left, center left, top right;
  background-size: cover, cover, cover;
  padding-bottom: 80px !important;
}

.cardWidth {
  width: 75% !important;
}
.modal-content{
  border: 0 !important;
}

