.herobg {
  background-image: url("/bgHero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

@media screen and (min-width: 1600px) {
  /* CSS rules for screens larger than a laptop (1200px wide) */
  .herobg {
    height: 800px;
  }

  .lwidth {
    width: 50% !important;
    padding-bottom: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .mobm {
    margin: 0 !important;
  }
}

.cinput {
  margin-left: 0px !important;
}
