.herobg {
  background-image: url("/wepik-export-202402191113560KJv 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

@media screen and (min-width: 1600px) {
  /* CSS rules for screens larger than a laptop (1200px wide) */
  .herobg {
    height: 800px;
  }
  .w5obigscreen{
    width: 50% !important;
  }

  .lwidth {
    /* width: 50% !important; */
    padding-bottom: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .mobm {
    margin: 0 !important;
  }
}

.cinput {
  margin-left: 0px !important;
}

@media screen and (min-width: 100px) and (max-width: 1500px) {
  .padingl{
    padding: 8px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    
  }
  select{
    border: none !important;
  }
}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    select {
      /* Your Safari-specific styles here */
      padding: 0.5rem; /* Example style */
    }
  }
}