.herosectionbgg {
  background-image: url("/car-5 2.svg");
  width: 100%;
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
}

.para {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
}

.para2 {
  width: 79%;
}

@media screen and (max-width: 600px) {
  .para {
    margin-top: 0px !important;
    font-size: 23px;
  }
}
